{% extends 'base.html' %}

{% block title %}Cart | {% endblock title %}
    
{% block content %}
    <div id="cartapp">
        <h1 class="title"> Cart</h1>
        
        <div v-if="products.length > 0">
            <div class="table">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="product in products">
                            <td>
                                <figure class="image is-48x48"><img :src="product.thumbnail"></figure>
                            </td>
                            <td><a :href="product.url">[[ product.title ]]</a></td>
                            <td>
                                <button @click="removeFromCart(product.id, 1, product.price)" class="button is-outlined is-info">-</button>
                                [[ product.quantity ]]
                                <button @click="addToCart(product.id, product.price)" class="button is-outlined is-info">+</button>
                            </td>
                            <td>[[ product.total_price ]]</td>
                            <td><button @click="removeFromCart(product.id, product.quantity, product.price)" class="button is-danger">Remove</button></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>Total: </td>
                            <td>[[ numItems ]]</td>
                            <td></td>
                            <td>[[ totalCost ]]</td>
                            <td></td>
                        </tr>
                        <tr v-if="coupon_value">
                            <td colspan=3>Total cost with coupon: </td>
                            <td> [[ totalCostWithCoupon ]] </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <hr>
            <h2 class="subtitle">Coupon code</h2>
            <input type="hidden" class="input" type="text" v-model="coupon_value">

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" v-model="coupon_code">
                </div>
                <div class="control">
                    <button @click="applyCoupon()" class="button is-success">Apply</button>
                </div>
                <hr>
            </div>
            <div class="notification is-warning" v-if="showCouponCodeError">
                <p>The coupon code is not valid</p>
            </div>

            {% if not request.user.is_authenticated %}
                <p>Continue as guest or
                    <a href="{% url 'login' %}">log in</a> / 
                    <a href="{% url 'signup' %}">sign up</a>.
                </p>
                <hr>
            {% endif %} 

            <hr>
            <form v-on:submit.prevent>
                <h2 class="title">Contact information</h2>
                <div class="columns">
                    <div class="field column is-6">
                        <label>First name</label>
                        <div class="control">
                            <input type="text" name="first_name" v-model="first_name" class="input" v-bind:class="{ 'is-danger' : errors.includes('first_name') }">
                        </div>
                    </div>
                    <div class="field column is-6">
                        <label>Last name</label>
                        <div class="control">
                            <input type="text" name="last_name" v-model="last_name" class="input" v-bind:class="{ 'is-danger' : errors.includes('last_name') }">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column is-6">
                        <label>Email</label>
                        <div class="control">
                            <input type="text" name="email" v-model="email" class="input" v-bind:class="{ 'is-danger' : errors.includes('email') }">
                        </div>
                    </div>
                    <div class="field column is-6">
                        <label>Address</label>
                        <div class="control">
                            <input type="text" name="address" v-model="address" class="input" v-bind:class="{ 'is-danger' : errors.includes('address') }">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column is-6">
                        <label>Zip code</label>
                        <div class="control">
                            <input type="text" name="zipcode" v-model="zipcode" class="input" v-bind:class="{ 'is-danger' : errors.includes('zipcode') }">
                        </div>
                    </div>
                    <div class="field column is-6">
                        <label>Place</label>
                        <div class="control">
                            <input type="text" name="place" v-model="place" class="input" v-bind:class="{ 'is-danger' : errors.includes('place') }">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column is-6">
                        <label>Phone</label>
                        <div class="control">
                            <input type="text" name="phone" v-model="phone" class="input" v-bind:class="{ 'is-danger' : errors.includes('phone') }">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button @click="buy()" class="button is-primary">Checkout</button>
                    </div>
                </div>
            </form>
        </div>
        <p v-else="">Your cart is empty!</p>
        <div v-if="errors.length > 0" class="notification is-danger is-light">Please fill in all the reruired fields!</div>
    </div>
{% endblock content %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                errors: [],
                first_name: '{{ first_name }}',
                last_name: '{{ last_name }}',
                email: '{{ email }}',
                address: '{{ address }}',
                zipcode: '{{ zipcode }}',
                place: '{{ place }}',
                phone: '{{ phone }}',
                products: [{{ productsstring|safe }}],
                coupon_value: 0,
                coupon_code: '',
                showCouponCodeError: false,
            }
        },
        computed: {
            numItems: function() { return store.state.numItems},
            totalCost: function() { return store.state.totalCost },
            totalCostWithCoupon: function() {
                if (this.coupon_value > 0) {
                    return store.state.totalCost * (parseInt(this.coupon_value) / 100)
                } else {
                    return store.state.totalCost
                }
            }
        },
        methods: {
            isFormValid() {
                this.errors = [];
                for (var key of Object.keys(this._data)) {
                    if ((this._data[key] === '') & key != 'coupon_code') {
                        this.errors.push(key)
                    }
                }

                if (this.errors.length != 0) {
                    return false
                }
                return true
            },
            applyCoupon() {
                if (this.coupon_code != '') {
                    fetch('/api/can_use/?coupon_code=' + this.coupon_code, {
                        method: 'GET'
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)
                        if (data.amount) {
                            this.coupon_value = parseInt(data.amount)
                            this.showCouponCodeError = false
                        } else {
                            this.coupon_value = 0
                            this.showCouponCodeError = true
                        }
                    })
                } else {
                    this.showCouponCodeError = true
                }
            },
            buy() {
                if (this.isFormValid()) {
                    var stripe = Stripe('{{ pub_key }}');

                    fetch('/api/create_checkout_session/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(this._data)
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((session) => {
                        return stripe.redirectToCheckout({ sessionId: session.session.id })
                    })
                    .then((result) => {
                        if (result.error) {
                            alert(result.error.message)
                        }
                    })
                    .catch((error) => {
                        console.log('Error ', error )
                    })
                }
            },
            addToCart(product_id, price) {
                // Check if the product is available on stock
                isProductAvailable = false

                for (var i=0; i<this.products.length; i++) {
                    var product = this.products[i]
                    if (product.id === product_id) {
                        if (product.num_available > 0) {
                            isProductAvailable = true
                        }
                    }
                }

                if (!isProductAvailable) {
                    alert('No more available in stock')
                    return
                }

                var data = {'product_id': product_id}

                store.commit('increment', 1)
                store.commit('incrementTotalCost', parseFloat(price))

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Quantity updated')
                    // TODO: get this from the backend
                    for (var i=0; i<this.products.length; i++) {
                        var product = this.products[i];
                        
                        if (product.id === product_id) {
                            this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                            this.products[i].total_price = parseInt(this.products[i].quantity) * this.products[i].price;
                        }
                    }
                })
            },
            removeFromCart(product_id, quantity, price) {
                store.commit('decrement', quantity)
                store.commit('decrementTotalCost', parseFloat(price))

                var data = {
                    'product_id': product_id,
                    'quantity': quantity    
                }
                
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Removed from cart')
                    // TODO: get this from the backend
                    for (var i=0; i<this.products.length; i++) {
                        var product = this.products[i];
                        
                        if (product.id === product_id) {
                            this.products[i].quantity = parseInt(this.products[i].quantity) - 1;
                            if (this.products[i].quantity == 0) {
                                this.products = this.products.filter(product => product.id !== product_id)
                            }
                            this.products[i].total_price = parseInt(this.products[i].quantity) * this.products[i].price;
                        }
                    }
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            }
        }
    });
</script>
{% endblock %}