{% extends 'base.html' %}

{% block title %}Cart | {% endblock title %}
    
{% block content %}
    <div id="cartapp">
        <h1 class="title"> Cart</h1>
        
        <div v-if="products.length > 0">
            <div class="table">
                <table class="table">
                    <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="product in products">
                            <td>
                                <figure class="image is-48x48"><img :src="product.thumbnail"></figure>
                            </td>
                            <td><a :href="product.url">[[ product.title ]]</a></td>
                            <td>[[ product.quantity ]]
                                <button @click="incrementQuantity(product.id, product.quantity, product.price)">+</button>
                                <button @click="decrementQuantity(product.id, product.quantity, product.price)">-</button>
                            </td>
                            <td>[[ product.total_price ]]</td>
                            <td><button @click="removeFromCart(product.id)">Remove</button></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>Total: </td>
                            <td>[[ numItems ]]</td>
                            <td></td>
                            <td>[[ totalCost ]]</td>
                        </tr>
                        <tr v-if="coupon_value">
                            <td colspan=3>Total cost with coupon: </td>
                            <td> [[ totalCostWithCoupon ]] </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class=" column is-4">
                <input type="hidden" class="input" type="text" v-model="coupon_value"><br>
                Coupon code:<br>
                <input class="input" type="text" v-model="coupon_code"><br>
                <button @click="applyCoupon()">Apply</button>
                <hr>
            </div>

            {% if not request.user.is_authenticated %}
                <p>Continue as guest or
                    <a href="{% url 'login' %}">log in</a> / 
                    <a href="{% url 'signup' %}">sign up</a>.
                </p>
                <hr>
            {% endif %} 

            <form v-on:submit.prevent>
                <div class="field column is-4">
                    <div class="control">
                        <label>First name</label>
                        <input type="text" name="first_name" v-model="first_name" class="input" v-bind:class="{ 'is-danger' : errors.includes('first_name') }">
                    </div>
                </div>
                <div class="field column is-4">
                    <div class="control">
                        <label>Last name</label>
                        <input type="text" name="last_name" v-model="last_name" class="input" v-bind:class="{ 'is-danger' : errors.includes('last_name') }">
                    </div>
                </div>
                <div class="field column is-4">
                    <div class="control">
                        <label>Email</label>
                        <input type="text" name="email" v-model="email" class="input" v-bind:class="{ 'is-danger' : errors.includes('email') }">
                    </div>
                </div>
                <div class="field column is-4">
                    <div class="control">
                        <label>Address</label>
                        <input type="text" name="address" v-model="address" class="input" v-bind:class="{ 'is-danger' : errors.includes('address') }">
                    </div>
                </div>
                <div class="field column is-4">
                    <div class="control">
                        <label>Zip code</label>
                        <input type="text" name="zipcode" v-model="zipcode" class="input" v-bind:class="{ 'is-danger' : errors.includes('zipcode') }">
                    </div>
                </div>
                <div class="field column is-4">
                    <div class="control">
                        <label>Place</label>
                        <input type="text" name="place" v-model="place" class="input" v-bind:class="{ 'is-danger' : errors.includes('place') }">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button @click="buy()" class="button is-primary">Checkout</button>
                    </div>
                </div>
            </form>
        </div>
        <p v-else="">Your cart is empty!</p>
        <div v-if="errors.length > 0" class="notification is-danger is-light">Please fill in all the reruired fields!</div>
    </div>
{% endblock content %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                errors: [],
                first_name: '{{ first_name }}',
                last_name: '{{ last_name }}',
                email: '{{ email }}',
                address: '',
                zipcode: '',
                place: '',
                products: [{{ productsstring|safe }}],
                coupon_value: 0,
                coupon_code: '',
            }
        },
        computed: {
            numItems: function() { return store.state.numItems},
            totalCost: function() { return store.state.totalCost },
            totalCostWithCoupon: function() {
                if (this.coupon_value > 0) {
                    return store.state.totalCost * (parseInt(this.coupon_value) / 100)
                } else {
                    return store.state.totalCost
                }
            }
        },
        methods: {
            applyCoupon() {
                if (this.coupon_code != '') {
                    fetch('/api/can_use/?coupon_code=' + this.coupon_code, {
                        method: 'GET'
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)
                        if (data.amount) {
                            this.coupon_value = parseInt(data.amount)
                        } else {
                            this.coupon_value = 0
                        }
                    })
                }
            },
            buy() {
                var data = {
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'address': this.address,
                    'zipcode': this.zipcode,
                    'place': this.place,
                    'coupon_code': this.coupon_code,
                };

                this.errors = [];
                
                for (var key of Object.keys(data)) {
                    if ((data[key] === '') & key != 'coupon_code') {
                        this.errors.push(key)
                    }
                }
                console.log("ERRORS: ",this.errors)

                if (this.errors.length != 0) {
                    return
                }
            
                var stripe = Stripe('{{ pub_key }}');

                fetch('/api/create_checkout_session/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    return response.json()
                })
                .then((session) => {
                    return stripe.redirectToCheckout({ sessionId: session.session.id })
                })
                .then((result) => {
                    if (result.error) {
                        alert(result.error.message)
                    }
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            },
            // TODO: allakse to an xreiastei se update quantity
            incrementQuantity(product_id, quantity, price) {
                isProductAvailable = false

                for (var i=0; i<this.products.length; i++) {
                    var product = this.products[i]

                    if (product.id === product_id) {
                        if (quantity < product.num_available) {
                            isProductAvailable = true
                        }
                    }
                }
                
                if (!isProductAvailable) {
                    alert('No more available in stock')
                    return
                }

                var data = {
                    'product_id': product_id, 
                    'update_quantity': true,
                    'quantity': parseInt(quantity) + 1
                }

                store.commit('increment', 1)
                store.commit('incrementTotalCost', parseFloat(price))

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Quantity updated')
                    for (var i=0; i<this.products.length; i++) {
                        var product = this.products[i];

                        if (product.id === product_id) {
                            this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                            this.products[i].total_price = parseInt(this.products[i].quantity) * this.products[i].price;
                        }
                    }
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            },
            decrementQuantity(product_id, quantity, price) {
                var data = {
                    'product_id': product_id, 
                    'update_quantity': true,
                    'quantity': parseInt(quantity) - 1
                }

                store.commit('decrement', 1)
                store.commit('decrementTotalCost', parseFloat(price))

                if (data['quantity'] === 0) {
                    this.removeFromCart(product_id)
                    return
                }

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Quantity updated')
                    for (var i=0; i<this.products.length; i++) {
                        var product = this.products[i];

                        if (product.id === product_id) {
                            this.products[i].quantity = parseInt(this.products[i].quantity) - 1;
                            this.products[i].total_price = parseInt(this.products[i].quantity) * this.products[i].price;
                        }
                    }
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            },
            removeFromCart(product_id) {
                console.log(product_id)

                var data = {'product_id': product_id}

                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Removed from cart')
                    // TODO: remove from store
                    this.products = this.products.filter(product => product.id !== product_id)
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            }
        }
    });
</script>
{% endblock %}