{% extends 'base.html' %}

{% block title %}Welcome | {% endblock title %}

{% block content %}

    <h1 class="title has-text-centered">Shops</h1>
    {% with stores as stores %}
        {% include "parts/store_list.html" %}
    {% endwith %}

    <h1 class="title has-text-centered">Featured products</h1>
    {% with products as products %}
        {% include "parts/product_list.html" %}
    {% endwith %}

    <br>
    
    {% if featured_categories.length > 0 %}
        <hr>
        <br>
        <div class="featured-categories">
            <h1 class="title has-text-centered">Featured categories</h2>
            {% for category in featured_categories %}
                <br>
                <h2 class="subtitle has-text-centered">{{ category.title }}</h2>
                {% with category.products.all|slice:":4" as products %}
                    {% include "parts/product_list.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <br><hr><br>
    
    <h1 class="title has-text-centered">Popular products</h1>
    {% with popular_products|slice:":4" as products %}
        {% include "parts/product_list.html" %}
    {% endwith %}

    <br><hr><br>

    <h1 class="title has-text-centered">Recently viewed products</h1>
    {% with recently_viewed_products|slice:":4" as products %}
        {% include "parts/product_list.html" %}
    {% endwith %}
            
{% endblock %}