<div class="columns is-multiline">
    {% for product in products %}
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image 3by2">
                        {% if product.image %}
                            <img src="{{ product.image.url }}">
                        {% endif %}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class='media-content'>
                            <p class="title is-4">{{ product.title }}</p>
                            <p class="subtitle is-6 level">
                                <span class="level-left">€{{ product.price }}</span>
                                {% if product.get_rating != 0 %}
                                    <span class="level-right">★{{ product.get_rating|floatformat:1 }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}" 
                        class="card-footer-item button is-primary is-outlined">View</a>
                </footer>
            </div>
        </div>
    {% endfor %}
</div>