{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock title %}

{% block content %}
<div id="categorydetailapp">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'frontpage' %}">Home</a></li>
            {% if category.parent %}
                <li><a href="{% url 'category_detail' category.parent.slug %}">{{ category.parent.title }}</a></li>
            {% endif %}
            <li class="is-active"><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>
        </ul>
    </nav>

    <div class="level">
        <h1 class="title level-left">{{ category.title }}</h1>
        {% if category.store in owned_stores %}
            <button class="level-right button is-warning is-rounded">Add new product</button>
        {% endif %}
    </div>
    
    {% with products as products %}
        {% include "parts/product_list.html" %}
    {% endwith %}

    {% if category.children.all %}
        <hr>
        <h1 class="title">Products from other categories</h1>   
        {% with category.children.all as categories %}
            {% include "parts/category_list.html" %}
        {% endwith %}
    {% endif %}
</div>
{% endblock %}

<!-- {% block scripts %}
<script>
    var categorydetailapp = new Vue({
        el: '#categorydetailapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                
            }
        },
        methods: {
            addToCart(product_id) {
                var data = {'product_id': product_id}

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    if (response.status == 200) {
                        this.showError = false
                        this.showMessage = true
                        store.commit('increment', 1)
                        setTimeout(() => {
                            this.showMessage = false
                        }, 2000)
                    } else {
                        this.showMessage = false
                        this.showError = true
                        setTimeout(() => {
                            this.showError = false
                        }, 2000)
                    }
                    return response.json()
                })
                .thend((data) => {
                    console.log(data)
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            }
        }
    });
</script>
{% endblock scripts %} -->