{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock title %}

{% block content %}
<div id="categorydetailapp">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'frontpage' %}">Home</a></li>
            {% if category.parent %}
                <li><a href="{% url 'category_detail' category.parent.slug %}">{{ category.parent.title }}</a></li>
            {% endif %}
            <li class="is-active"><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>
        </ul>
    </nav>

    <div class="level">
        <h1 class="title level-left">{{ category.title }}</h1>
        {% if category.store in owned_stores %}
            <div class="level-right">
                <button class="level-item button is-warning is-rounded" @click="isAddProductModalActive=true">Add new product</button>
                <button class="level-item button is-warning is-rounded" @click="isEditCategoryModalActive=true">Edit category</button>
            </div>
        {% endif %}
    </div>
    
    {% with products=products owned_stores=owned_stores %}
        {% include "parts/product_list.html" %}
    {% endwith %}

    {% if category.children.all %}
        <hr>
        <h1 class="title">Products from other categories</h1>   
        {% with category.children.all as categories %}
            {% include "parts/category_list.html" %}
        {% endwith %}
    {% endif %}

    <div :class="{ 'is-active': isEditCategoryModalActive }" class="modal">
        <form v-on:submit.prevent>
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit category</p>
                    <button class="delete" aria-label="close" @click="isEditCategoryModalActive=false"></button>
                </header>
                <section class="modal-card-body">
                    {% csrf_token %}
                    {{ category_form }}
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="editCategory()">Save changes</button>
                    <button class="button" @click="isEditCategoryModalActive=false">Cancel</button>
                </footer>
            </div>
        </form>
    </div>

    <div :class="{ 'is-active': isAddProductModalActive }" class="modal">
        <form v-on:submit.prevent>
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add a new product</p>
                    <button class="delete" aria-label="close" @click="isAddProductModalActive=false"></button>
                </header>
                <section class="modal-card-body">
                    {% csrf_token %}
                    {{ product_form }}
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="createProduct()">Save changes</button>
                    <button class="button" @click="isAddProductModalActive=false">Cancel</button>
                </footer>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    var categorydetailapp = new Vue({
        el: '#categorydetailapp',
        delimiters: ['[[', ']]'],
        data () {
            return {
                errors: [],
                isEditCategoryModalActive: false,
                isAddProductModalActive: false,
                product: {
                    image: '',
                    category: '{{ category.id }}',
                    title: '',
                    description: '',
                    price: 0,
                    is_featured: false,
                    num_available: 1,
                },
                category: {
                    parent: '{{ category.parent.id }}',
                    title: '{{ category.title }}',
                    ordering: '{{ category.ordering }}',
                    is_featured: '{{ category.is_featured }}',
                    image: '{{ category.image }}',
                }
            }
        },
        mounted () {
            this.isEdit()
        },
        methods: {
            isEdit: function() {
                if (window.location.href.indexOf("edit") > -1) { 
                    this.isEditCategoryModalActive = (new URL(document.location)).searchParams.get("edit");
                } else {
                    this.isEditCategoryModalActive = false
                }
            },
            isFormValid() {
                this.errors = [];
                for (var key of Object.keys(this._data)) {
                    if (this._data[key] === '') {
                        this.errors.push(key)
                    }
                }

                if (this.errors.length != 0) {
                    return false
                }
                return true
            },
            onProductFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                
                if (!files.length) {
                    this.errors.push('image')
                    return;
                }
                
                if (this.errors.includes('image')) {
                    // TODO: hide error status when image is uploaded successfully
                    delete this.errors['image']
                }
                this.product.image = files[0];
            },
            onCategoryFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                
                if (!files.length) {
                    this.errors.push('image')
                    return;
                }
                
                if (this.errors.includes('image')) {
                    // TODO: hide error status when image is uploaded successfully
                    delete this.errors['image']
                }
                this.category.image = files[0];
            },
            createProduct() {
                var data = new FormData()
                data.append('image', this.product.image)
                data.append('category', this.product.category)
                data.append('title', this.product.title)
                data.append('description', this.product.description)
                data.append('price', this.product.price)
                data.append('is_featured', this.product.is_featured)
                data.append('num_available', this.product.num_available)

                if (this.isFormValid()) {
                    fetch('/api/create_product/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: data
                    })
                    .then((response) => {
                        console.log(response)
                        if (response.status == 200) {
                            window.location.href = response.url
                        }
                    })
                    .then((data) => {
                        console.log(data)
                    })
                    .catch((error) => {
                        console.log('Error ', error )
                    })
                }
            },
            editCategory() {
                var data = new FormData()
                data.append('id', '{{ category.id }}')
                data.append('image', this.category.image)
                data.append('parent', this.category.parent)
                data.append('title', this.category.title)
                data.append('is_featured', this.category.is_featured)
                data.append('ordering', this.category.ordering)

                // if (this.isFormValid()) {
                    fetch('/api/edit_category/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: data
                    })
                    .then((response) => {
                        console.log(response)
                        if (response.status == 200) {
                            window.location.href = response.url
                        }
                    })
                    .then((data) => {
                        console.log(data)
                    })
                    .catch((error) => {
                        console.log('Error ', error )
                    })
                // }
            },
        }
    });
</script>
{% endblock scripts %}