{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock title %}

{% block content %}
    <div id="productapp">
        <!-- Navbar -->
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                {% if product.category.parent %}
                    <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                <li class="is-active"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
            </ul>
        </nav>
        <!-- /Navbar -->

        <!-- Product -->
        <img :src="mainImage">
        <hr>
        <h1 class="title">{{ product.title }}</h1>
        <h2 class="subtitle">
            <span class="level-left">€{{ product.price }}</span>
            {% if product.get_rating != 0 %}
                <span class="level-right">★{{ product.get_rating|floatformat:1 }}</span>
            {% endif %}
        </h2>

        {% if product.description %}
            <p>{{ product.description }}</p>
        {% endif %}

        <!-- {% if product.in_cart %}
            <p>Already in cart!</p>
        {% else %} -->
        {% if product.num_available > 0 %}
            <!-- TODO: check if the product is availabe -->
            <button @click="addToCart({{ product.id }})" class="button is-success">Add to cart</button>
            {% if product.store in owned_stores %}
                <div class="">
                    <button class="button is-danger is-outlined" @click="isEditProductModalActive=true">Edit product</button>
                </div>
            {% endif %}
        {% else %}
            <p>The product is out of stock!</p>
        {% endif %}
        <!-- {% endif %} -->
        
        <!-- /Product -->
        <br>

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                The product was added to the cart!
            </div>
        </article>

        <article class="message is-danger" v-if="showError">
            <div class="message-body">
                The product is out of stock!
            </div>
        </article>

        <!-- Related products -->
        <hr>
        <h2 :v-if="related_products.length > 0" class="subtitle">Related products</h2>
        {% with related_products as products %}
            {% include "parts/product_list.html" %}
        {% endwith %}
        <!-- /Related products -->

        <!-- Reviews -->
        <hr>
        {% with reviews=product.reviews.all %}
            {% include "parts/reviews.html" %}
        {% endwith %}
        <!-- /Reviews -->
        
        <div :class="{ 'is-active': isEditProductModalActive }" class="modal">
            <form v-on:submit.prevent>
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Edit product</p>
                        <button class="delete" aria-label="close" @click="isEditProductModalActive=false"></button>
                    </header>
                    <section class="modal-card-body">
                        {% csrf_token %}
                        {{ product_form }}
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Save changes</button>
                        <button class="button" @click="isEditProductModalActive=false">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                isEditProductModalActive: false,
                related_products: '{{ related_products }}',
                showMessage: false,
                showError: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}],
                num_available: '{{ product }},'
            }
        },
        mounted () {
            this.isEdit()
        },
        methods: {
            isEdit: function() {
                if (window.location.href.indexOf("edit") > -1) { 
                    this.isEditProductModalActive = (new URL(document.location)).searchParams.get("edit");
                } else {
                    this.isEditProductModalActive = false
                }
            },
            addToCart(product_id) {
                var data = {'product_id': product_id}

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    if (response.status == 200) {
                        this.showError = false
                        this.showMessage = true
                        store.commit('increment', 1)
                        setTimeout(() => {
                            this.showMessage = false
                        }, 2000)
                    } else {
                        this.showMessage = false
                        this.showError = true
                        setTimeout(() => {
                            this.showError = false
                        }, 2000)
                    }
                    return response.json()
                })
                .thend((data) => {
                    console.log(data)
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            }
        }
    });
</script>
{% endblock scripts %}