{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock title %}

{% block content %}
    <div id="productapp">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                {% if product.category.parent %}
                    <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
                <li class="is-active"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a></li>
            </ul>
        </nav>

        <img :src="mainImage">
        {% if product.images.all %}
            <hr>
            <div class="columns">
                <div class="column is-2" v-for="image in images">
                    <figure class="image is-128x128">
                        <img :src="image.thumbnail" @click="changeMainImage(image.image)">
                    </figure>
                </div>
            </div>
        {% endif %}
        <hr>
        <h1 class="title">{{ product.title }}</h1>
        <h2 class="subtitle">
            <span class="level-left">€{{ product.price }}</span>
            {% if product.get_rating != 0 %}
                <span class="level-right">★{{ product.get_rating|floatformat:1 }}</span>
            {% endif %}
        </h2>

        {% if product.description %}
            <p>{{ product.description }}</p>
        {% endif %}

        {% if product.variants.all %}
            <h2 class="subtitle">Add to cart</h2>
            <div class="columns">
                <div class="column is-6">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="image is-48x48">
                                        {% if product.get_thumbnail %}
                                            <img src="{{ product.get_thumbnail }}" alt="">
                                        {% endif %}
                                    </figure>
                                </td>
                                <td>
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a>
                                </td>
                                <td>
                                    {% if product.in_cart %}
                                        <p>Already in cart!</p>
                                    {% else %}
                                        {% if product.num_available > 0 %}
                                        <!-- TODO: check if the product is availabe -->
                                        <button @click="addToCart({{ product.id }})"
                                            class="button is-success"
                                            >Add to cart</button>
                                        {% else %}
                                        <p>The product is out of stock!</p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            {% for variant in product.variants.all %}
                                <tr>
                                    <td>
                                        <figure class="image is-48x48">
                                            {% if variant.get_thumbnail %}
                                                <img src="{{ variant.get_thumbnail }}" alt="">
                                            {% endif %}
                                        </figure>
                                    </td>
                                    <td>
                                        <a href="{% url 'product_detail' variant.category.slug variant.slug %}">{{ variant.title }}</a>
                                    </td>
                                    <td>
                                        {% if variant.in_cart %}
                                            <p>Already in cart!</p>
                                        {% else %}
                                            {% if variant.num_available > 0 %}
                                            <!-- TODO: check if the variant is availabe -->
                                            <button @click="addToCart({{ variant.id }})"
                                                class="button is-success"
                                                >Add to cart</button>
                                            {% else %}
                                            <p>The product is out of stock!</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            {% if product.in_cart %}
                <p>Already in cart!</p>
            {% else %}
                {% if product.num_available > 0 %}
                <!-- TODO: check if the product is availabe -->
                <button @click="addToCart({{ product.id }})"
                    class="button is-success"
                    >Add to cart</button>
                {% else %}
                <p>The product is out of stock!</p>
                {% endif %}
            {% endif %}
        {% endif %}
        
        <br>

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                The product was added to the cart!
            </div>
        </article>

        <article class="message is-danger" v-if="showError">
            <div class="message-body">
                The product is out of stock!
            </div>
        </article>

        <hr>
        <h2 :v-if="related_products.length > 0" class="subtitle">Related products</h2>
        {% with related_products as products %}
            {% include "parts/product_list.html" %}
        {% endwith %}

        <hr>
        <h2 class="subtitle">Reviews</h2>
        <div class="reviews-wrapper">
            {% for review in product.reviews.all %}
                <div class="notification space-below">
                    <p>
                        <strong>Date: </strong> {{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong> {{ review.stars }}
                    </p>
                    {{ review.content }}
                </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet.
                </div>
            {% endfor %}
        </div>

        <div class="notification space-below">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Stars</label>
                        <div class="control">
                            <select name="stars">
                                {% for i in "12345" %}
                                    <option selected value={{i}}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label>Content</label>
                        <div class="control">
                            <textarea name="content" class="textarea"></textarea>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                    
                </form>
            {% else %}
                <p>Please sign in to add review!</p>
            {% endif %}
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                related_products: '{{ related_products }}',
                showMessage: false,
                showError: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}],
                num_available: '{{ product }},'
            }
        },
        methods: {
            changeMainImage(image){
                this.mainImage = image
            },
            addToCart(product_id) {
                var data = {'product_id': product_id}

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    if (response.status == 200) {
                        this.showError = false
                        this.showMessage = true
                        store.commit('increment', 1)
                        setTimeout(() => {
                            this.showMessage = false
                        }, 2000)
                    } else {
                        this.showMessage = false
                        this.showError = true
                        setTimeout(() => {
                            this.showError = false
                        }, 2000)
                    }
                    return response.json()
                })
                .thend((data) => {
                    console.log(data)
                })
                .catch((error) => {
                    console.log('Error ', error )
                })
            }
        }
    });
</script>
{% endblock scripts %}