{% extends 'base.html' %}

{% block title %}{{ store.name }} | {% endblock title %}

{% block content %}
<div id="storedetailapp">

    <h1 class="title has-text-centered">{{ store.name }}</h1>
    <hr>
    <div class="level">
        <h1 class="title level-left">Categories of products</h1>
        {% if store in owned_stores %}
        <button class="level-right button is-warning is-rounded" @click="isAddModalActive=true">Add new category</button>
        {% endif %}
    </div>

    {% with categories as categories %}
    {% include "parts/category_list.html" %}
    {% endwith %}

    <div :class="{ 'is-active': isAddModalActive }" class="modal">
        <form v-on:submit.prevent>
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add a new category</p>
                    <button class="delete" aria-label="close" @click="isAddModalActive=false"></button>
                </header>
                <section class="modal-card-body">
                    {% csrf_token %}
                    {{ category_form }}
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="createCategory()">Save changes</button>
                    <button class="button" @click="isAddModalActive=false">Cancel</button>
                </footer>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    var storedetailapp = new Vue({
        el: '#storedetailapp',
        delimiters: ['[[', ']]'],
        data: {
            isAddModalActive: false,
            category: {
                parent: '{{ category.id }}',
                title: '',
                ordering: 0,
                is_featured: 'false',
                image: '',
            }
        },
        methods: {
            onCategoryFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                
                if (!files.length) {
                    // this.errors.push('image')
                    return;
                }
                
                // if (this.errors.includes('image')) {
                //     // TODO: hide error status when image is uploaded successfully
                //     delete this.errors['image']
                // }
                this.category.image = files[0];
            },
            createCategory() {
                var data = new FormData()
                data.append('store_id', '{{ store.id }}')
                data.append('image', this.category.image)
                data.append('parent', this.category.parent)
                data.append('title', this.category.title)
                data.append('is_featured', this.category.is_featured)
                data.append('ordering', this.category.ordering)

                // if (this.isFormValid()) {
                    fetch('/api/create_category/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: data
                    })
                    .then((response) => {
                        console.log(response)
                        if (response.status == 200) {
                            window.location.href = response.url
                        }
                    })
                    .then((data) => {
                        console.log(data)
                    })
                    .catch((error) => {
                        console.log('Error ', error )
                    })
                // }
            },
        }
    });
</script>
{% endblock scripts %}